body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.feature-display {
  border: 3px solid #999;
  padding: 2px;
}

.feature-display > div {
  padding: 5px;
}

.env-display {
  border: 3px solid #999;
  padding: 2px;
  width: 500px;
}

.env-display > div {
  padding: 5px;
}

.env-window-name {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  font-family: serif;
}

.env-window {
  padding: 5px;
}

.row {
  display: flex;
  flex-direction: row;
}

.selected-container {
  width: 500px;
  height: 500px;
  border: 3px solid #999;
  right: 875px;
}

.title {
  padding: 10px;
  border-bottom: 1px dotted;
}

.inner-title {
  text-align: center;
}

.button-container {
  padding: 40px 20px 0 20px;
}

.value-container {
  height: 260px;
  padding-left: 15px;
  overflow: scroll;
}

.button {
  width: 128px;
  padding: 10px;
  margin: 11px;
  font-size: 15px;
}
.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  z-index: 3;
  border-radius: 25px;
}

.popup-header {
  padding: 10px;
}

.close-icon {
  border: 1px solid;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 81%;
}