body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.feature-display {
  border: 3px solid #999;
  padding: 2px;
}

.feature-display > div {
  padding: 5px;
}

.env-display {
  border: 3px solid #999;
  padding: 2px;
  width: 500px;
}

.env-display > div {
  padding: 5px;
}

.env-window-name {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  font-family: serif;
}

.env-window {
  padding: 5px;
}

.row {
  display: flex;
  flex-direction: row;
}
