body {
  font: 14px Apercu, Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.env-window, .env-display > div, .feature-display > div {
  padding: 5px;
}

.display-window {
  border: 5px solid #DD0031;
  border-radius: 25px;
  padding: 2px;
  min-width: 500px;
}

.window-title {
  color: #DD0031;
  font: 30px Apercu, Futura, sans-serif;
  padding: 10px;
  border-bottom: 5px dotted #DD0031;
}

.env-window-body > * {
  border-radius: 25px;
}

.env-window-body > div > header {
  text-decoration: underline;
  color: #5B6770;
}

.row {
  display: flex;
  flex-direction: row;
}

.selected-container {
  padding-top: 10px;
  right: 875px;
}

.value-container {
  min-height: 250px;
  max-height: 500px;
  padding-left: 15px;
  overflow: auto;
}

.button-container {
  padding: 10px;
}

.button {
  border: 3px solid #5B6770;
  border-radius: 25px;
  width: 128px;
  padding: 10px;
  margin: 11px;
  color: #5B6770;
}

.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  z-index: 3;
  border-radius: 25px;
}

.popup-header {
  padding: 10px;
}

.close-icon {
  border: 1px solid;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 81%;
}
